[submodule "web-streaming/libdatachannel"]
	path = web-streaming/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "macemu-next/subprojects/libdatachannel"]
	path = macemu-next/subprojects/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "macemu-next/subprojects/unicorn"]
	path = macemu-next/subprojects/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "macemu-next/subprojects/nlohmann_json"]
	path = macemu-next/subprojects/nlohmann_json
	url = https://github.com/nlohmann/json.git
