[submodule "subprojects/libdatachannel"]
	path = subprojects/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "subprojects/unicorn"]
	path = subprojects/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "subprojects/nlohmann_json"]
	path = subprojects/nlohmann_json
	url = https://github.com/nlohmann/json.git
